extends ../templates/layout

block content
  div.container
    h2 Matricular Cliente en el Plan

    form(action='/ClientePlan/add' method='POST')
      input(type='hidden' name='planId' value=planId)
      
      div.mb-3
        label(for='clienteId') Selecciona el cliente
        select.form-select(name='clienteId' required)
          each cliente in clientesDisponibles
            option(value=cliente.id) #{cliente.nombre} #{cliente.apellido}
      
      div.mb-3
        label(for='Fecha_Inicio') Fecha de Inicio
        input.form-control(type='date' name='Fecha_Inicio' required)

      button.btn.btn-primary(type='submit') Guardar
      a.btn.btn-secondary(href=`/ClientePlan?planId=${planId}`) Cancelar
