extends ../templates/layout

block content
  div.container
    h2 Dar de Baja Cliente del Plan
    p ¿Estás seguro de que deseas dar de baja al cliente "#{cliente.nombre} #{cliente.apellido}" del plan "#{plan.Nombre_Plan}"?
    form(action=`/ClientePlan/${cliente.id}/delete` method='POST')
      input(type='hidden' name='planId' value=plan.id)
      button.btn.btn-danger(type='submit') Confirmar
      a.btn.btn-secondary(href=`/ClientePlan?planId=${plan.id}`) Cancelar
