extends ../templates/layout

block content
  div.container
    h2 Clientes Asociados al Plan

    if planSeleccionado
      h3 Clientes en el plan "#{planSeleccionado.Nombre_Plan}"

      if clientes.length > 0
        table.table
          thead
            tr
              th ID Cliente
              th Nombre
              th Apellido
              th Fecha de Inicio
              th Acciones
          tbody
            each cliente in clientes
              tr
                td= cliente.id
                td= cliente.nombre
                td= cliente.apellido
                td= cliente.Fecha_Inicio
                td
                  a.btn.btn-danger(href=`/ClientePlan/${cliente.id}/delete?planId=${planSeleccionado.id}`) Dar de Baja
      else
        p.text-muted No hay clientes inscritos en este plan.

      // Botón para matricular un nuevo cliente
      p 
        a.btn.btn-success(href=`/ClientePlan/add?planId=${planSeleccionado.id}`) Matricular nuevo cliente
    else
      p.text-muted Selecciona un plan para ver sus detalles.
  
    script(src="/js/cliente_plan.js", type="text/javascript")

