extends ../templates/layout

block content
    h3 Listado de entrenadores
    div.container
       
        form(method="get", action="/Entrenador")
            div.form-group
                label(for="Especialidad") Filtrar por especialidad:
                select#especialidad(name="Especialidad" class="form-control" onchange="this.form.submit()")
                    option(value="") Todas las especialidades
                    each esp in especialidades
                        option(value=esp.selected ? esp.value : undefined selected=esp.selected ? "selected" : undefined)= esp.value

        table.table.table-bordered.table-hover
            thead
                tr
                    th id
                    th Nombre
                    th Especialidad
                    th Nivel Experiencia
                    th Editar
                    th Borrar
            tbody
                each entrenador in entrenadores
                    tr
                        td= entrenador.id
                        td= entrenador.Nombre
                        td= entrenador.Especialidad
                        td= entrenador.Nivel_Experiencia
                        td
                            a.btn.btn-warning(href=`/Entrenador/edit/${entrenador.id}`) Editar
                        td
                            a.btn.btn-danger(href=`/Entrenador/delete/${entrenador.id}`) Borrar
                        td
                            a.btn.btn-primary(href=`/Entrenador/${entrenador.id}/sesion`) Ver Sesiones
        p
            a.btn.btn-success(href="/Entrenador/add") Añadir un nuevo entrenador
