extends ../templates/layout

block content
  
  div.container.d-flex.justify-content-center.align-items-center.min-vh-100
    div
      h3.text-center.mb-4 Sesiones del Entrenador por ID
      // Verificación de si hay sesiones
      if sesiones.length
        table.table.table-bordered.table-striped
          thead
            tr
              th ID Sesión
              th Fecha
              th Hora
              th Duración (min)
              th Cliente
          tbody
            each sesion in sesiones
              tr
                td= sesion.id
                td= sesion.Fecha
                td= sesion.Hora
                td= sesion.Duracion_Minutos
                td= sesion.id_Cliente
      else
        p.text-center No hay sesiones asignadas para este entrenador.
    
      p.text-center.mt-3
        a.btn.btn-primary(href="/Entrenador") Volver al Listado de Entrenadores
