extends ../templates/layout

block content
  h3 Editar Cliente
  div.container
    form(action=`/Cliente/edit/${cliente.id}` method="post")
      input(type="hidden" name="id" value=cliente.id)
      div.form-group
        label Nombre:
        input.form-control(type="text" name="nombre" value=cliente.Nombre required)
      div.form-group
        label Correo:
        input.form-control(type="email" name="correo" value=cliente.Correo required)
      div.form-group
        label Teléfono:
        input.form-control(type="text" name="telefono" value=cliente.Telefono required)
      button.btn.btn-primary(type="submit") Guardar Cambios
