extends ../templates/layout

block content
  div.container
    h2 Planes de Membresía

    // Tabla de Planes de Membresía
    table.table
      thead
        tr
          th ID
          th Nombre del Plan
          th Duración (Meses)
          th Costo
          th Clientes Asociados
      tbody
        each plan in planes
          tr
            td= plan.id
            td= plan.Nombre_Plan
            td= plan.Duracion_Meses
            td= plan.Costo
            td
              a.btn.btn-info(href=`/ClientePlan?planId=${plan.id}`) Ver Clientes
