div 
    h3 Listado de los planes
    table(border=1)
        thead 
            tr
                th id
                th Nombre 
                th Duración en meses
                th Costo
                th Editar
                th Borrar
        tbody 
            each plan in Plan_Membresia
                tr 
                    td=plan.id
                    td=plan.Nombre                        
                    td=plan.Duracion_Meses
                    td=plan.Costo
                    td 
                        a(href=`/Plan_Membresia/edit/${plan.id}`) Editar 
                    td 
                        a(href=`/Plan_Membresia/delete/${plan.id}`) Borrar 
    p 
        a(href="/Plan_Membresia/add") Añadir un nuevo plan



